<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henrique Bertoloni - Advogado</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="logo">
            <center>    
                <img src="../midia/logo.png" >
            </center>
            <p>Henrique Bertoloni - Advogado</p>
        </div>
        <div class="social-icons">
            <a href="#"><img src="../midia/instagram.png"></a>

            <a href="#"><img src="../midia/facebook.png"></a>

            <a href="#"><img src="../midia/in.png"></a>

            <a href="#"><img src="../midia/zap.png"></a>
        </div>
    </header>
    
    <div class="local_destinado">
            <p><font size=6>HOME | SOBRE</font></p>
        </div>

    <div class="container">
        <main>
            <section class="intro">
                <p>Henrique Bertoloni, advogado criminalista, sempre teve uma forte paixão pela justiça e pelos direitos humanos. Após sua formação em Direito, começou sua carreira em um pequeno escritório, onde se destacou ao defender um jovem acusado injustamente de um crime violento, conseguindo sua absolvição. Essa experiência o levou a fundar seu próprio escritório, onde se dedica a oferecer uma defesa ética e comprometida a seus clientes. Além de sua atuação nos tribunais, Henrique participa ativamente de iniciativas comunitárias, promovendo palestras sobre direitos legais e apoiando programas de inclusão social. Seu escritório é reconhecido por sua excelência e dedicação à defesa dos direitos humanos.</p>
            </section>

            <section class="intro2">
                ⭐️⭐️⭐️⭐️ @Barbara_orto: Ótimo advogado! Dr. Bertoloni se mostrou muito competente e dedicado. A sua atenção aos detalhes fez toda a diferença no meu processo. Sempre disponível para esclarecer dúvidas.
                <br>
                <br>

⭐️⭐️⭐️⭐️ @Anna_shiwtz: Contratei o Dr. Bertoloni para defender meu filho em um caso complicado. Ele foi paciente, explicou tudo direitinho e lutou com garra. O resultado foi muito melhor do que esperávamos!
            </section>
        </main>

        <aside>
            <nav class="missao">
                <ul>
                    <h1>MISSÃO</h1>
                    <p>
                        Garantir a defesa justa e eficaz dos direitos de seus clientes, promovendo a justiça e a igualdade no sistema penal. Ele busca atuar com integridade, oferecendo assessoria jurídica de qualidade e lutando por aqueles que enfrentam acusações criminais, independentemente de sua situação.
                    </p>
                </ul>
            </nav>
            <div class="valores">
                <h1>
                    VALORES
                </h1>
                <p>
                   • Ética
                    <br>
                   • Empatia
                    <br>
                   • Dedicação
                    <br>
                   • Responsabilidade Social
                </p>
            </div>
        </aside>
    </div>
</body>
</html>
