<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina3</title>
    <link rel="stylesheet" href="../css/estilos2.css">
</head>
<body>
    <header>
        <div class="logo">
            <center>    
                <img src="../midia/logo.png" >
            </center>
            <p>Henrique Bertoloni Advogado</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">INFORMAÇÕES</a></li>
            </ul>
        </nav>
    </header>

    <section class="content">
        <div class="informativos">
            <h2>ARTIGOS INFORMAÇÕES</h2>
            <ul>
                <li>Introdução ao Direito Civil</li>
                <li>Princípios Constitucionais Fundamentais</li>
                <li>Teoria Geral dos Contratos</li>
                <li>Legislação Trabalhista e Direitos dos Empregados</li>
                <li>Direito Digital e Privacidade de Dados</li>
                <p>Trata da proteção de informações pessoais online, garantindo que empresas sigam leis, como a LGPD, para preservar os direitos dos usuários.</p>
                <button>Leia mais...</button>
            </ul>
        </div>

        <div class="analise-casos">
            <h2>ANÁLISE DE CASOS</h2>
            <ul>
                <li>Análise Jurídica do Caso XYZ: Implicações Penais e Defesas</li>
                <li>Estudo de Caso: Homicídio e Circunstâncias Atenuantes</li>
                <li><a href="#">Tráfico de Drogas: Provas e Procedimentos no Caso ABC</a></li>
                <p>O caso de Gabriel Monteiro investiga sua liderança em uma rede de tráfico de drogas, focando na complexidade do esquema e nas implicações legais, sociais e nos desafios do sistema de justiça.</p>
                <button>Leia mais...</button>
            </ul>
        </div>

        <div class="side-images">
            <img src="../midia/foto_google.png" alt="Google Logo">
            <img src="../midia/foto_shop_now.png" alt="Shop Now">
        </div>
    </section>
</body>
</html>
