

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henrique Bertoloni - Advogado</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="logo">
            <center>    
                <img src="../midia/logo.png" >
            </center>
            <p>Henrique Bertoloni - Advogado</p>
        </div>
        <div class="social-icons">
            <a href="#"><img src="../midia/instagram.png"></a>

            <a href="#"><img src="../midia/facebook.png"></a>

            <a href="#"><img src="../midia/in.png"></a>

            <a href="#"><img src="../midia/zap.png"></a>
        </div>
    </header>
    
    <div class="local_destinado">
            <p><font size=6>HOME | SERVIÇOS</font></p>
        </div>

    <div class="container">
        <main>
            <section class="intro">
            <p>
              • Assessoria Jurídica: Orientar clientes sobre seus direitos e as implicações legais de suas ações.
                <br><br>
               • Defesa em Processos Criminais: Representar clientes em casos de acusações criminais, seja na fase de investigação, na audiência ou no julgamento.
                <br><br>
               • Elaboração de Defesas: Preparar petições, recursos e estratégias de defesa.
                <br><br>
               • Negociação de Acordos: Negociar acordos com o Ministério Público para redução de penas ou condições de cumprimento de pena.
                <br><br>
               • Atuação em Recursos: Interpor recursos em instâncias superiores, caso a decisão judicial não seja favorável.
                <br><br>
               • Consultoria em Medidas Cautelares: Orientar sobre medidas como fianças, prisão domiciliar e outras alternativas à prisão.
                <br><br>
               • Investigação de Fatos: Coletar provas e testemunhos que possam ajudar na defesa do cliente.
                <br><br>
               • Atuação em Audiências: Representar o cliente em audiências e interrogatórios.
                <br><br>
               • Defesa de Direitos Humanos: Garantir que os direitos do cliente sejam respeitados durante todo o processo judicial.
                <br><br>
               • Orientação em Crimes Empresariais: Auxiliar empresas em investigações de crimes como fraude, lavagem de dinheiro e corrupção.
            </p>
            </section>
</body>
</html>
