<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina4</title>
    <link rel="stylesheet" href="../css/estilos2.css">
</head>
<body>
    <header>
        <div class="logo">
            <center>    
                <img src="../midia/logo.png" >
            </center>
            <p>Henrique Bertoloni Advogado</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">RECURSOS</a></li>
            </ul>
        </nav>
    </header>

    <section class="content">
        <div class="informativos">
            <h2>PERGUNTAS FREQUENTES(FAQ)</h2>
            <ul>
                <li>O que é o direito penal?</li>
                <li>Quando devo procurar um advogado criminalista?</li>
                <li>O que é presunção de inocência?</li>
                <li>Como funciona o processo penal?</li>
                <li>Resposta: O processo penal envolve várias etapas, incluindo investigação, apresentação de acusações, defesa, julgamento e possíveis recursos. Cada etapa tem prazos e procedimentos específicos.</li>
            </ul>
        </div>

        <div class="analise-casos">
            <h2>GUIA DE DIREITOS</h2>
            <ul>
                <li>Direito ao Silêncio.</li>
                <li>Direito à Assistência Jurídica.</li>
                <li>Direito à Informação.</li>
                <li>Direito à Presunção de Inocência.</li>
                <li>Direito a um Julgamento Justo.</li>
                <li>Direito a Provas e Testemunhas.</li>
                <li>Direito ao Tratamento Digno.</li>
                <li>Direito à Apelação.</li>
            </ul>
        </div>
            <div class="side-images">
                <img src="../midia/foto_google.png" alt="Google Logo">

                <img src="../midia/foto_shop_now.png" alt="Shop Now">
        </div>

    </section>
        <div class="calculadora_de_penas">
            <h2>CALCULADORA DE PENAS</h2>
            <p><a href="#">https://portal.tjpr.jus.br/e-mandado/calculadora/calculadora_dosimetria_penal/calculadora_dosimetria_penal.html</a></p>
        </div>
        <div class="links_uteis">
            <h2>LINKS ÚTEIS</h2>
            <p>Código Penal Brasileiro:<a href="#"> www.planalto.gov.br/ccivil_03/leis/l2848.htm</a>
            <br>
            Constituição Federal:<a href="#">www.planalto.gov.br/ccivil_03/constituicao/constituicao.htm</a>
            <br>
            Portal da Justiça:<a href="#">www.justica.gov.br</a></p>
        </div>
</body>
</html>
